.lime-h3 {
  color: #b9e425;
}

.racing-results-table {
  border-collapse: collapse;
  width: 100%;
}

.racing-results-table tbody tr {
  border-bottom: 1px solid #697181;
}

.racing-results-table th,
.racing-results-table td {
  padding: 8px;
}

.icon-placeholder {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(209, 209, 209);
}
